/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0.5em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.parameters {
  margin: 0.5em 0em;
}

a.more {
  background-color: #cccccc;
  text-align: center;
  display: block;
}
a.more:hover {
  background-color: #dddddd;
}
.messages {
  /*display: table;
  table-layout: fixed;*/
  width: 100%;
  height: 75vh;
  overflow: auto;
}
.message {
  margin-bottom: 0.25em;
}
.error {
  color: red;
  font-weight: bold;
}
.status {
  font-size: 70%;
}

a.timestamp {
  text-decoration: none;
}
a.timestamp:hover {
  text-decoration: underline;
}
.timestamp {
  color: gray;
  width: 16em;
  display: table-cell;
  font-size: 60%;
  /*float: left;
  display: block;*/
}
.nick {
  color: gray;
  font-weight: bold;
  width: 8em;
  display: table-cell;
  /*float: left;
  display: inline-block;*/
  /*text-align: right;*/
}
.messagetext {
  color: black;
  display: table-cell;
  white-space: pre-wrap;
  /*display: inline-block;
  white-space: initial;*/
}

