/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


a.more {
  background-color: #cccccc;
  text-align: center;
  display: block;
}
a.more:hover {
  background-color: #dddddd;
}
.messages {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.message {
  margin-bottom: 0.25em;
}
.error {
  color: red;
  font-weight: bold;
}
.timestamp {
  color: gray;
  width: 15em;
  display: table-cell;
}
.nick {
  color: gray;
  font-weight: bold;
  width: 5em;
  display: table-cell;
  /*text-align: right;*/
}
.messagetext {
  color: black;
  display: table-cell;
}

