<div>
  <datepicker ng-model='dateStart' disable-timepicker='true'
    label-format='EEEE, MMMM d, yyyy' date-format='d-MM-yyyy'
    on-change='messages.initialise(dateStart)'></datepicker>
  <span>{{messages.startdt|date:'yyyy-MM-dd HH:mm:ssZ'}} -
    {{messages.enddt|date:'yyyy-MM-dd HH:mm:ssZ'}}</span>
</div>

<div class='messages'>
  <a ng-click='messages.page(-1)' class='more'>Load previous</a>
  <div ng-repeat='msg in messages.items' class='message' scroll-after>
    <a id='msg-{{msg.timestamp}}' class='timestamp'>
      {{msg.timestamp|date:'yyyy-MM-dd HH:mm:ssZ'}}</a>
    <div class='nick'>{{msg.nick}}</div>
    <div class='messagetext'>{{msg.message}}</div>
  </div>
  <a ng-click='messages.page(1)' class='more'>Load next</a>
</div>

